@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

@theme {
  --color-primary: #161d6f;
  --color-light: #dee4ee;
  --color-boxdark: #24303f;
  --color-boxdark2: #1a222c;
}

body {
  font-weight: 400;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-light);
}

.poppins-300 {
  font-weight: 300 !important;
}

.poppins-500 {
  font-weight: 500 !important;
}

.poppins-600 {
  font-weight: 600 !important;
}

.poppins-700 {
  font-weight: 700 !important;
}

.poppins-800 {
  font-weight: 800 !important;
}
